#main-dart {
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    background-color: #edf1fd;
    position: relative;
    /* background-image: url("../images/bg.png"); */
    background-repeat: no-repeat;
    background-size: 1330px;
    background-position: right bottom;
}

.s-b-container-dart {
    display: flex;
    justify-content: left;
    align-items: center;
}

.s-box-dart-menu-left {
    background-color: #2b2b2b;
    width: 350px;
    height: 500px;
    margin: 20px;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
    position: relative;
}

.s-box-dart-menu-content {
    background-color: #f4f7ff;
    width: 1050px;
    height: 500px;
    margin: 20px;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
    position: relative;
}

.menu-left {
    width: 100%;
    background-color: #2b2b2b;
}

.menu-left a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    letter-spacing: 2px;
    display: list-item;
    padding: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.menu-left a:hover {
    transform: translateX(30px);
    transition: all ease 0.3s;
    border-bottom: 1px solid #edf1fd;
}